
[run]
omit =
    app/__init__.py
    app/api/__init__.py
    app/api/core/__init__.py
    app/api/models/__init__.py
    app/api/models/base.py
    app/api/repositories/__init__.py
    app/api/repositories/base_repository.py
    app/api/schemas/__init__.py
    app/api/services/__init__.py
    app/api/v1/__init__.py
    app/api/middleware/__init__.py
    app/api/middleware/error_codes.py
    app/api/schemas/base_schema.py
    migrations/*
    tests/*
